USE [Jazz]
GO
/****** Object:  Table [dbo].[JBJazzProps]    Script Date: 25/8/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JBJazzProps](
	[IDProp] [int] IDENTITY(1,1) NOT NULL,
	[IdSport] [nchar](10) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[AwayTeam] [varchar](50) NOT NULL,
	[HomeTeam] [varchar](50) NOT NULL,
	[PropType] [varchar](10) NULL,
	[Position] [varchar](50) NULL,
 CONSTRAINT [PK_JBJazzProps] PRIMARY KEY CLUSTERED 
(
	[IDProp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [jazzTool].[Position]    Script Date: 25/8/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jazzTool].[Position](
	[idPosition] [tinyint] IDENTITY(1,1) NOT NULL,
	[idPropTypeBySport] [tinyint] NULL,
	[Position] [varchar](50) NOT NULL,
	[lastModificationDate] [datetime] NULL,
	[lastModificationUser] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [jazzTool].[PropByPosition]    Script Date: 25/8/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jazzTool].[PropByPosition](
	[idPropByPosition] [int] IDENTITY(1,1) NOT NULL,
	[idProp] [int] NOT NULL,
	[idPosition] [tinyint] NOT NULL,
	[order] [int] NULL,
	[isActive] [bit] NOT NULL,
	[lastModificationDate] [datetime] NULL,
	[lastModificationUser] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [jazzTool].[Props]    Script Date: 25/8/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jazzTool].[Props](
	[idProp] [int] IDENTITY(1,1) NOT NULL,
	[idPropTypeBySport] [tinyint] NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[AwayTeam] [varchar](50) NOT NULL,
	[HomeTeam] [varchar](50) NOT NULL,
	[isActive] [bit] NOT NULL,
	[lastModificationDate] [datetime] NULL,
	[lastModificationUser] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [jazzTool].[PropType]    Script Date: 25/8/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jazzTool].[PropType](
	[idPropType] [tinyint] IDENTITY(1,1) NOT NULL,
	[propType] [varchar](50) NOT NULL,
	[lastModificationDate] [datetime] NULL,
	[lastModificationUser] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPropType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [jazzTool].[PropTypeBySport]    Script Date: 25/8/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jazzTool].[PropTypeBySport](
	[idPropTypeBySport] [tinyint] IDENTITY(1,1) NOT NULL,
	[idSport] [tinyint] NOT NULL,
	[idPropType] [tinyint] NOT NULL,
	[lastModificationDate] [datetime] NULL,
	[lastModificationUser] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPropTypeBySport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [jazzTool].[sports]    Script Date: 25/8/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [jazzTool].[sports](
	[idSport] [tinyint] IDENTITY(1,1) NOT NULL,
	[sport] [varchar](10) NOT NULL,
	[isActive] [bit] NULL,
	[lastModificationDate] [datetime] NULL,
	[lastModificationUser] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idSport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JBJazzProps] ON 

INSERT [dbo].[JBJazzProps] ([IDProp], [IdSport], [Description], [AwayTeam], [HomeTeam], [PropType], [Position]) VALUES (1, N'NFL       ', N'TEAM TO SCORE 1ST', N'AWAYTEAM', N'HOMETEAM', N'Game', N'NIG')
INSERT [dbo].[JBJazzProps] ([IDProp], [IdSport], [Description], [AwayTeam], [HomeTeam], [PropType], [Position]) VALUES (3, N'NFL       ', N'TEAM TO SCORE LAST', N'AWAYTEAM', N'HOMETEAM', N'Game', N'NIG')
INSERT [dbo].[JBJazzProps] ([IDProp], [IdSport], [Description], [AwayTeam], [HomeTeam], [PropType], [Position]) VALUES (4, N'NFL       ', N'TEAM TO SCORE LAST IN 1H', N'AWAYTEAM', N'HOMETEAM', N'Game', N'NIG')
GO
SET IDENTITY_INSERT [dbo].[JBJazzProps] OFF
SET IDENTITY_INSERT [jazzTool].[Position] ON 

INSERT [jazzTool].[Position] ([idPosition], [idPropTypeBySport], [Position], [lastModificationDate], [lastModificationUser]) VALUES (1, 1, N'REG', CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[Position] ([idPosition], [idPropTypeBySport], [Position], [lastModificationDate], [lastModificationUser]) VALUES (2, 2, N'REG', CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[Position] ([idPosition], [idPropTypeBySport], [Position], [lastModificationDate], [lastModificationUser]) VALUES (4, 3, N'NONE', CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
SET IDENTITY_INSERT [jazzTool].[Position] OFF
SET IDENTITY_INSERT [jazzTool].[PropByPosition] ON 

INSERT [jazzTool].[PropByPosition] ([idPropByPosition], [idProp], [idPosition], [order], [isActive], [lastModificationDate], [lastModificationUser]) VALUES (1, 1, 1, NULL, 1, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[PropByPosition] ([idPropByPosition], [idProp], [idPosition], [order], [isActive], [lastModificationDate], [lastModificationUser]) VALUES (2, 2, 1, NULL, 1, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[PropByPosition] ([idPropByPosition], [idProp], [idPosition], [order], [isActive], [lastModificationDate], [lastModificationUser]) VALUES (3, 3, 1, NULL, 1, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
SET IDENTITY_INSERT [jazzTool].[PropByPosition] OFF
SET IDENTITY_INSERT [jazzTool].[Props] ON 

INSERT [jazzTool].[Props] ([idProp], [idPropTypeBySport], [Description], [AwayTeam], [HomeTeam], [isActive], [lastModificationDate], [lastModificationUser]) VALUES (1, 1, N'TEAM TO SCORE 1ST', N'AWAYTEAM', N'HOMETEAM', 1, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[Props] ([idProp], [idPropTypeBySport], [Description], [AwayTeam], [HomeTeam], [isActive], [lastModificationDate], [lastModificationUser]) VALUES (2, 1, N'TEAM TO SCORE 10 PTS 1ST', N'AWAYTEAM', N'HOMETEAM', 1, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[Props] ([idProp], [idPropTypeBySport], [Description], [AwayTeam], [HomeTeam], [isActive], [lastModificationDate], [lastModificationUser]) VALUES (3, 1, N'TEAM TO SCORE 15 PTS 1ST', N'AWAYTEAM', N'HOMETEAM', 1, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
SET IDENTITY_INSERT [jazzTool].[Props] OFF
SET IDENTITY_INSERT [jazzTool].[PropType] ON 

INSERT [jazzTool].[PropType] ([idPropType], [propType], [lastModificationDate], [lastModificationUser]) VALUES (1, N'Game', CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[PropType] ([idPropType], [propType], [lastModificationDate], [lastModificationUser]) VALUES (2, N'Player', CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[PropType] ([idPropType], [propType], [lastModificationDate], [lastModificationUser]) VALUES (3, N'Open', CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
SET IDENTITY_INSERT [jazzTool].[PropType] OFF
SET IDENTITY_INSERT [jazzTool].[PropTypeBySport] ON 

INSERT [jazzTool].[PropTypeBySport] ([idPropTypeBySport], [idSport], [idPropType], [lastModificationDate], [lastModificationUser]) VALUES (1, 1, 1, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[PropTypeBySport] ([idPropTypeBySport], [idSport], [idPropType], [lastModificationDate], [lastModificationUser]) VALUES (2, 1, 2, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[PropTypeBySport] ([idPropTypeBySport], [idSport], [idPropType], [lastModificationDate], [lastModificationUser]) VALUES (3, 2, 1, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
SET IDENTITY_INSERT [jazzTool].[PropTypeBySport] OFF
SET IDENTITY_INSERT [jazzTool].[sports] ON 

INSERT [jazzTool].[sports] ([idSport], [sport], [isActive], [lastModificationDate], [lastModificationUser]) VALUES (1, N'CBB', 1, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[sports] ([idSport], [sport], [isActive], [lastModificationDate], [lastModificationUser]) VALUES (2, N'CFB', 1, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
INSERT [jazzTool].[sports] ([idSport], [sport], [isActive], [lastModificationDate], [lastModificationUser]) VALUES (3, N'MLB', 1, CAST(N'2019-08-25T00:00:00.000' AS DateTime), 191)
SET IDENTITY_INSERT [jazzTool].[sports] OFF
ALTER TABLE [dbo].[JBJazzProps] ADD  CONSTRAINT [DF_JBJazzProps_Position]  DEFAULT (N'NONE') FOR [Position]
GO
ALTER TABLE [jazzTool].[Position]  WITH CHECK ADD  CONSTRAINT [fk_idPrTyBySport] FOREIGN KEY([idPropTypeBySport])
REFERENCES [jazzTool].[PropTypeBySport] ([idPropTypeBySport])
GO
ALTER TABLE [jazzTool].[Position] CHECK CONSTRAINT [fk_idPrTyBySport]
GO
ALTER TABLE [jazzTool].[PropByPosition]  WITH CHECK ADD  CONSTRAINT [fk_idPosition] FOREIGN KEY([idPosition])
REFERENCES [jazzTool].[Position] ([idPosition])
GO
ALTER TABLE [jazzTool].[PropByPosition] CHECK CONSTRAINT [fk_idPosition]
GO
ALTER TABLE [jazzTool].[PropByPosition]  WITH CHECK ADD  CONSTRAINT [fk_idProp] FOREIGN KEY([idProp])
REFERENCES [jazzTool].[Props] ([idProp])
GO
ALTER TABLE [jazzTool].[PropByPosition] CHECK CONSTRAINT [fk_idProp]
GO
ALTER TABLE [jazzTool].[Props]  WITH CHECK ADD  CONSTRAINT [fk_idPropTypeBySport] FOREIGN KEY([idPropTypeBySport])
REFERENCES [jazzTool].[PropTypeBySport] ([idPropTypeBySport])
GO
ALTER TABLE [jazzTool].[Props] CHECK CONSTRAINT [fk_idPropTypeBySport]
GO
ALTER TABLE [jazzTool].[PropTypeBySport]  WITH CHECK ADD  CONSTRAINT [fk_idPropType] FOREIGN KEY([idPropType])
REFERENCES [jazzTool].[PropType] ([idPropType])
GO
ALTER TABLE [jazzTool].[PropTypeBySport] CHECK CONSTRAINT [fk_idPropType]
GO
ALTER TABLE [jazzTool].[PropTypeBySport]  WITH CHECK ADD  CONSTRAINT [fk_idSportPrTy] FOREIGN KEY([idSport])
REFERENCES [jazzTool].[sports] ([idSport])
GO
ALTER TABLE [jazzTool].[PropTypeBySport] CHECK CONSTRAINT [fk_idSportPrTy]
GO
